/target
/example/test
autom4te.cache
vad/vad/compile
vad/vad/depcomp
vad/vad/install-sh
vad/vad/missing
vad/vad/configure
vad/vad/config.log
vad/vad/config.status
vad/vad/aclocal.m4
vad/vad/Makefile.in
vad/vad/Makefile
vad/vad/.deps
vad/vad/vad.o
vad/vad/config.guess
vad/vad/config.sub
vad/vad/libtool
vad/vad/ltmain.sh
libwit.a
