Cargo.lock
/target
/example/test
/lib
libvad.a
autom4te.cache
vad/compile
vad/depcomp
vad/install-sh
vad/missing
vad/configure
vad/config.log
vad/config.status
vad/aclocal.m4
vad/Makefile.in
vad/Makefile
vad/.deps
vad/vad.o
vad/config.guess
vad/config.sub
vad/libtool
vad/ltmain.sh
